{% extends "layouts/base.html" %}

{% block content %}

<h2>Table 1: Fruits and Prices</h2>

<table border="1">
    <tr>
        <th>Fruit</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Apple</td>
        <td>25 cents</td>
    </tr>
    <tr>
        <td>Orange</td>
        <td>50 cents</td>
    </tr>
    <tr>
        <td>Banana</td>
        <td>$1</td>
    </tr>
    <tr>
        <td>Pineapple</td>
        <td>$2</td>
    </tr>
    <tr>
        <td><b>Total</b></td>
        <td><b>$3.75</b></td>
    </tr>
</table>

<br><br>

<h2>Table 2: Camel Comparison</h2>

<table border="1">
    <tr>
        <th></th>
        <th>Number of humps</th>
        <th>Indigenous region</th>
        <th>Spits?</th>
        <th>Produces wool?</th>
    </tr>
    <tr>
        <td>Dromedary</td>
        <td>1</td>
        <td>Arabian Peninsula</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Bactrian</td>
        <td>2</td>
        <td>Africa/Asia</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Llamas</td>
        <td>1</td>
        <td>Andes Mountains</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>
</table>

{% endblock %}